/*This nav, without a period, is targetting all nav elements in our page.*/
/*Note if it had a period it would be targetting all classes designated as Nav/*/
nav.navbar-top {
  /*Box Model Properties*/
  color: #ffffff;
  background-color: #3b63ea;
  font-size: 30px;
  font-family: "Source Sans Pro";
  font-weight: 600;
  height: 120px;
  width: 100vw;
  padding-right: 1.5em;
  padding-left: 1.5em;
  /*Flex Properties*/
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*This fixes the nav menu at the top of the page*/
  position: fixed;
  /*This adds specificity and states the nav banner is x away from the top of the page, in this case 0. */
  top: 0;
}

/* This nav span is targetting all span elements within a nav element, and applying bungee font to TWEETER*/
.navbar-logo {
  font-family: 'Bungee';
}
/*This allows us to align what is in our DIV Container appropriately, allows stack on top of one another and center*/
.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*This applies the colour read to anything within the nav element AND within the i tag*/
.navbar-menu i {
  color: red;
  /*Negative Margin here helps to push red arrow button upwards*/
  margin-top: -25px;
}