/*This document provides styles to each individual tweet or tweet box, within the timeline.*/

/* Space out the tweet timeline from the new-tweet box*/
.tweets-timeline {
  padding-top: 1.5em;
}

/* hover is a pseudoclass that provides a certain appearance on the tweet box while hovering over it.*/
.tweet-box:hover {
  box-shadow: 5px 10px;
}
/*Styles for tweet-box so that each tweet has a visible formatted contiainer*/
.tweet-box {
  margin-bottom: 1em;
  border: 5px solid #545149;
  height: 300px;
  width: 100%;
  padding: 1.0em;
}

/*This encapsulates the user photo and username on opposite ends of the top of the tweet box*/
.tweet-userphoto-username {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.1em;
}

/*Align user-handle on right of tweetbox with user name and avatar on left*/
.user-handle {
  padding-top: 1.45em;
}

/*This holds the text of the tweet in a <p>, as well as bottom underline of container for aesthetic purposes*/
.tweet-container {
  margin-top:1.0em;
  padding-left: 0.5em;
  height: 100px;
  border: none;
  border-bottom: 5px solid #545149;
  word-wrap: break-word;
}

/*Apply space between items in footer: Date & Icons */
.tweet-footer {
  padding-top: 0.8em;
  display: flex;
  justify-content: space-between;
}

/*These hover effects below will add a certain colour style to the flag, heart and retweet icons when the moust hovers over each of them*/
.fa-solid.fa-flag:hover {
  color:burlywood

}
.fa-solid.fa-heart:hover {
  color:burlywood

}
.fa-solid.fa-retweet:hover {
  color:burlywood
}